@font-face {
      font-family: "SegoeUIRegular";
      src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
      src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
      url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
      url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
      font-style: normal;
      font-weight: normal;
  }
 .container_for_form{
 	font-family: 'SegoeUIRegular';
	width: 420px;
	height: 454px;
	margin: 0 auto 0 auto;
	border: 1px solid grey;
	border-radius: 6px;
	text-align: center;
}
 .header_of_form{
 	width: 391px;
    height: 45px;
    color: #ffffff;
 	background: linear-gradient(#4869a2, #5172a9);
 	text-align: start;
 	padding-left: 29px;
 	padding-top: 18px ;
 	margin-bottom: 58px ;
 	font-size: 22px;
 }
a{
	color: red;
	text-decoration: none;
}

.input-text {
	margin: 0px 30px 21px 30px;
}
.input-password {
	margin: 0px 30px 33px 30px;
}
 .input-text, .input-password {
 	width: 335px;
	height: 55px;
	text-align: start;
	padding-left: 25px;
	border: 1px solid grey;
	border-radius: 4px;
	background-color: #f9f9f9;
}
 .input-text, .input-password, .input-submit{
	font-size: 18px; 
	border-radius: 4px;}
.input-text, .input-password, .footer_for_form{
color: #a7a6a6;
}

.input-submit{
  width: 360px;
  height: 57px;
  margin: 0px 30px 43px 30px; 
  color: white;
  background: linear-gradient(#f25359, #f2545a);
  border: none;
  text-align: center;
  }
  .footer_for_form{
  	width: 420px;
  	height: 53px;
  	padding-top: 7px;
  	background-color: #f3f3f3;
  }
 